common --enable_bzlmod
common --lockfile_mode=error
common --repository_cache=/home/vscode/.cache/bazel/repository
common --experimental_repository_cache_hardlinks

startup --output_user_root=/home/vscode/.cache/bazel/output_user_root
# 移除 JDK 废弃参数警告
startup --host_jvm_args=-Xverify:remote

build --disk_cache=/home/vscode/.cache/bazel/disk
build --remote_download_toplevel
build --symlink_prefix=.bazel/
build --keep_going
test --test_output=errors
